# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
ipykernel==6.9.1
ipywidgets==7.6.5
jupyter==1.0.0
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter_client==6.1.12
jupyter_console==6.4.0
jupyter_core==4.9.2
jupyter_server==1.13.5
jupyterlab==3.3.2
jupyterlab_pygments==0.1.2
jupyterlab_server==2.10.3
jupyterlab_widgets==1.0.0
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
olefile==0.46
opencv-python==4.6.0.66
pillow==9.0.1
pip==21.2.4
pipreqs==0.4.11
plotly==5.6.0
pytesseract==0.3.9
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3

